# Insert Overwrite
1. Replace all the data in a table.
2. Replace all the data from a specific partition.
3. How to handle schema changes.

INSERT OVERWRITE - Overwrites the existing data in a table or a specific partition with the new data.

INSERT INTO - Appends new data.

In [0]:
%sql

DROP TABLE IF EXISTS demo.delta_lake.gold_companies;


CREATE TABLE demo.delta_lake.gold_companies (
  company_name STRING,
  founded_date DATE,
  country STRING
);


INSERT INTO demo.delta_lake.gold_companies (
  company_name,
  founded_date,
  country
) VALUES
  ('Databricks', '2012-01-01', 'USA'),
  ('Microsoft', '1975-04-04', 'USA'),
  ('Google', '1998-09-04', 'USA'),
  ('Alibaba', '1999-07-01', 'China'),
  ('Tencent', '1998-11-25', 'China'),
  ('Baidu', '2000-01-01', 'China'),
  ('Amazon', '1994-05-15', 'USA'),
  ('IBM', '1911-06-16', 'USA');


SELECT * FROM demo.delta_lake.gold_companies;

In [0]:
%sql

DROP TABLE IF EXISTS demo.delta_lake.bronze_companies;


CREATE TABLE demo.delta_lake.bronze_companies (
  company_name STRING,
  founded_date DATE,
  country STRING
);


INSERT INTO demo.delta_lake.bronze_companies (
  company_name,
  founded_date,
  country
) VALUES
  ('Apple', '1976-04-01', 'USA'),
  ('Facebook', '2004-02-04', 'USA'),
  ('Twitter', '2006-03-21', 'USA'),
  ('LinkedIn', '2003-05-01', 'USA'),
  ('PayPal', '1998-01-01', 'USA'),
  ('Square', '2009-08-05', 'USA'),
  ('Stripe', '2010-01-01', 'USA'),
  ('Uber', '2009-03-31', 'USA'),
  ('Google', '1998-09-04', 'USA'),
  ('Alibaba', '1999-07-01', 'China'),
  ('Tencent', '1998-11-25', 'China');


SELECT * FROM demo.delta_lake.bronze_companies;

In [0]:
%sql
INSERT OVERWRITE TABLE demo.delta_lake.gold_companies
SELECT * FROM demo.delta_lake.bronze_companies;

SELECT * FROM demo.delta_lake.gold_companies ORDER BY company_name;

In [0]:
%sql
DESC HISTORY demo.delta_lake.gold_companies;

In [0]:
%sql

DROP TABLE IF EXISTS demo.delta_lake.gold_companies_partition;


CREATE TABLE demo.delta_lake.gold_companies_partition (
  company_name STRING,
  founded_date DATE,
  country STRING
) PARTITIONED BY (country);


INSERT INTO demo.delta_lake.gold_companies_partition (
  company_name,
  founded_date,
  country
) VALUES
  ('Databricks', '2012-01-01', 'USA'),
  ('Microsoft', '1975-04-04', 'USA'),
  ('Google', '1998-09-04', 'USA'),
  ('Alibaba', '1999-07-01', 'China'),
  ('Tencent', '1998-11-25', 'China'),
  ('Baidu', '2000-01-01', 'China'),
  ('Amazon', '1994-05-15', 'USA'),
  ('IBM', '1911-06-16', 'USA');


SELECT * FROM demo.delta_lake.gold_companies_partition;

In [0]:
%sql
DESC EXTENDED demo.delta_lake.gold_companies_partition;

In [0]:
%sql

DROP TABLE IF EXISTS demo.delta_lake.bronze_companies_usa;


CREATE TABLE demo.delta_lake.bronze_companies_usa (
  company_name STRING,
  founded_date DATE,
  country STRING
) PARTITIONED BY (country);


INSERT INTO demo.delta_lake.bronze_companies_usa (
  company_name,
  founded_date,
  country
) VALUES
  ('Databricks', '2012-01-01', 'USA'),
  ('Microsoft', '1975-04-04', 'USA'),
  ('Google', '1998-09-04', 'USA'),
  ('Apple', '1976-04-01', 'USA'),
  ('Facebook', '2004-02-04', 'USA'),
  ('Twitter', '2006-03-21', 'USA'),
  ('LinkedIn', '2003-05-01', 'USA'),
  ('PayPal', '1998-01-01', 'USA'),
  ('Square', '2009-08-05', 'USA'),
  ('Stripe', '2010-01-01', 'USA'),
  ('Uber', '2009-03-31', 'USA'),
  ('Amazon', '1994-05-15', 'USA'),
  ('IBM', '1911-06-16', 'USA'),
  ('Tesla', '2003-07-01', 'USA'),
  ('SpaceX', '2002-03-01', 'USA');


SELECT * FROM demo.delta_lake.bronze_companies_usa;

In [0]:
%sql
INSERT OVERWRITE TABLE demo.delta_lake.gold_companies_partition
PARTITION (country='USA')
SELECT company_name, founded_date
FROM demo.delta_lake.bronze_companies_usa;

In [0]:
%sql
SELECT * FROM demo.delta_lake.gold_companies_partition;

In [0]:
%sql
DESC HISTORY demo.delta_lake.gold_companies_partition;

3. How to handle schema changes

Insert Overwite -> Use to overwrite the data in a table or a partition when there are no schema changes.

Create or replace table -> Use to create a table or replace when there are schema changes.