#Extract Data - Using Python
1. Run SQL commands using Python - spark.sql function
2. Spark Dataframe reader API
3. Read tables using spark.table function

In [0]:
df = spark.sql("SELECT * FROM json.`/Volumes/gizmobox/landing/operational_data/customers`")
display(df)

In [0]:
spark.sql("""CREATE OR REPLACE TEMPORARY VIEW tv_customers
             AS
             SELECT * FROM JSON.`/Volumes/gizmobox/landing/operational_data/customers`
          """)

In [0]:
df = spark.sql("SELECT * FROM tv_customers")
display(df)

In [0]:
spark.read.format('json').load('/Volumes/gizmobox/landing/operational_data/customers').display()

In [0]:
spark.table("tv_customers").display()