#Transform Addresses Data
1. Create one record for each customer with 2 sets of address columns, 1 for shipping and 1 for billing address
2. Write the transformed data to the Silver schema

In [0]:
%sql
SELECT customer_id,
       address_type,
       address_line_1,
       city,
       state,
       postcode
FROM gizmobox.bronze.v_addresses;

In [0]:
%sql
SELECT *
FROM (
  SELECT customer_id,
        address_type,
        address_line_1,
        city,
        state,
        postcode
  FROM gizmobox.bronze.v_addresses
)
PIVOT (
  MAX(address_line_1) AS address_line_1,
  MAX(city) AS city,
  MAX(state) AS state,
  MAX(postcode) AS postcode
  FOR address_type IN ('shipping', 'billing') 
);

In [0]:
%sql
CREATE TABLE IF NOT EXISTS gizmobox.silver.addresses
AS
SELECT *
FROM (
  SELECT customer_id,
        address_type,
        address_line_1,
        city,
        state,
        postcode
  FROM gizmobox.bronze.v_addresses
)
PIVOT (
  MAX(address_line_1) AS address_line_1,
  MAX(city) AS city,
  MAX(state) AS state,
  MAX(postcode) AS postcode
  FOR address_type IN ('shipping', 'billing') 
);

In [0]:
%sql
SELECT * FROM gizmobox.silver.addresses;